[submodule "seed/templates/seed-element"]
	path = seed/templates/seed-element
	url = https://github.com/PolymerElements/seed-element.git
[submodule "app/templates/polymer-cordova-starter-kit"]
	path = app/templates/polymer-cordova-starter-kit
	url = https://github.com/emoriarty/polymer-cordova-starter-kit
